:root {
    --background-color: darkorange;
    --text-color-main: #985403;
    --text-color-secondary: white;
    --border-radius: 30px;
    --border: 1px solid #985403;
}

html, body, #root {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}
